.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Section2 CSS */
.card-row {
  display: flex;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  text-align: center; 
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  
}

.card img {
  width: 100px;
  height: auto;
  margin-bottom: 16px;
}
 .card h5{
  font-weight: bold;
 }

 @media (max-width: 768px) {
  .card-row {
     flex-direction: column;
   }
  .card {
     width: 100%;
   }
 }
